enable-pre-post-scripts=true
save-exact=true
auto-install-peers=true
unsafe-perm=true
shamefully-hoist=true
strict-peer-dependencies=false
public-hoist-pattern[]=*prisma*
public-hoist-pattern[]=*@prisma*
